.app-heading {
    font-size: $font-size-h1;
    font-weight: 300;
    line-height: 1;
    position: relative;

    &::after {
        background-color: $color-contrast;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        left: 0;
        margin-bottom: -20px;
        position: absolute;
        width: 100%;
    }
}
