.task-8 {
    &__h1 {
        font-size: 3rem;
    }

    &__list-item {
        line-height: 2;
        font-size: 1.5rem;
        &:nth-child(3) {
            background-color: blue;
        }
    }
}
