<div class="task-layout">
    <div class="task-8">
        <h1 class="task-8__h1">task 8</h1>
        <ul class="task-8__list">
            <li class="task-8__list-item">Item 1</li>
            <li class="task-8__list-item">Item 2</li>
            <li class="task-8__list-item">Item 3</li>
            <li class="task-8__list-item">Item 4</li>
        </ul>
    </div>
</div>
