// Pallette
$color-white: #fff;
$color-grey: #eaeaea;
$color-blue: #3e4dfb;
$color-red: #ff3454;
$color-black: #1c2e36;
$color-darker: #18282f;

// Project
$color-accent-1: $color-blue;
$color-accent-2: $color-red;
$color-bg: $color-white;
$color-contrast: $color-black;

// Fonts
$color-font: $color-black;
$color-font-inverse: $color-white;
