@import '../practice-tasks/task-1/task-1';
@import '../practice-tasks/task-2/task-2';
@import '../practice-tasks/task-3/task-3';
@import '../practice-tasks/task-4/task-4';
@import '../practice-tasks/task-5/task-5';
@import '../practice-tasks/task-6/task-6';
@import '../practice-tasks/task-7/task-7';
@import '../practice-tasks/task-8/task-8';
@import '../practice-tasks/task-9/task-9';
@import '../practice-tasks/task-10/task-10';
