<main class="app-home">
    <div class="app-main-layout">
        <div class="app-main-layout__title">
            {{>../components/heading title="SCSS in depth"}}
        </div>
        <div class="app-main-layout__content">
            {{>../components/task-grid }}
            {{>../components/task-view }}
        </div>
    </div>
</main>
