<div class="task-1">
    <div class="task-1__title">
        Task 1
    </div>
    <div class="task-1__list">
        <div class="task-1__list-item">Lorem, ipsum.</div>
        <div class="task-1__list-item task-1__list-item--attention">Lorem, ipsum dolor.</div>
        <div class="task-1__list-item ">Lorem, ipsum.</div>
    </div>
</div>
