// Code in here doesn't look very sassy
.task-1__title {
    font-size: 2rem;
    padding: $padding;
}

.task-1__list {
    display: flex;
    flex-direction: column;
}

.task-1__list-item {
    font-size: 1.2rem;
    line-height: 2;
    padding: 0 $padding;
}

.task-1__list-item::before {
    content: '- ';
}

.task-1__list-item:hover {
    background-color: invert($color-accent-1);
}

.task-1__list-item--attention {
    background-color: $color-accent-1;
}
