<div class="app-task-grid is-active" id="app-task-grid">
    {{>../components/launcher title="Task 1" description="CSS to Sass structure" link="practice-tasks/task-1" }}
    {{>../components/launcher title="Task 2" description="Declining text" link="practice-tasks/task-2" }}
    {{>../components/launcher title="Task 3" description="Simple dark mode" link="practice-tasks/task-3" }}
    {{>../components/launcher title="Task 4" description="Declining text 2" link="practice-tasks/task-4" }}
    {{>../components/launcher title="Task 5" description="Transition mixin" link="practice-tasks/task-5" }}
    {{>../components/launcher title="Task 6" description="Transition function" link="practice-tasks/task-6" }}
    {{>../components/launcher title="Task 7" description="Playing with colors" link="practice-tasks/task-7" }}
    {{>../components/launcher title="Task 8" description="Enable dev tools" link="practice-tasks/task-8" }}
    {{>../components/launcher title="Task 9" description="Theme me" link="practice-tasks/task-9" }}
</div>
