<div class="task-layout">
    <div class="task-4">
        <div class="task-4__text-1">Text 1</div>
        <div class="task-4__text-2">Text 2</div>
        <div class="task-4__text-3">Text 3</div>
        <div class="task-4__text-4">Text 4</div>
        <div class="task-4__text-5">Text 5</div>
    </div>
</div>
